.app-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.app-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.app-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.app-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.app-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.app-table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
